.Detailes{
    @apply flex justify-center gap-2
}
.item{
    line-height: 3rem;
    @apply py-2 px-4 flex justify-between
}

@media screen and (max-width: 1355px) {
    .Detailes{
        flex-direction: column;
    }
    .Detailes ul:nth-child(1){
        border-left-width: 0;
    }
    .item{
        line-height: 1.5rem;
    }
    .item:hover{
        @apply dark:bg-slate-600 bg-gray-300
    }
}

@media screen and (max-width: 1200px) {
    .Detailes{
        flex-direction: row;
    }
    .Detailes ul:nth-child(1){
        border-left-width: 2px ;
    }
    .item{
        line-height: 3rem;
    }
    .item:hover{
        @apply dark:bg-slate-700 bg-gray-200
    }
}

@media screen and (max-width: 1085px) {
    .Detailes{
        flex-direction: column;
    }
    .Detailes ul:nth-child(1){
        border-left-width: 0;
    }
    .item{
        line-height: 1.85rem;
    }
    .item:hover{
        @apply dark:bg-slate-600 bg-gray-300
    }
}

@media screen and (max-width: 350px) {
    .item{
        line-height: 1rem;
        flex-direction: column;
        margin-bottom: .35rem;
        gap: .5rem;
    }
    .item span:nth-child(2){
        align-self: flex-end;
    }
}